<ion-view title="Editar Productos" id="page27" hide-back-button="true">


    <ion-nav-buttons side="left">
        <button class="button button-clear" menu-toggle="left" ng-show="$root.showMenuIcon" ng-click="gotovistaDeProj()"><i class="icon ion-navicon"></i></button>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button icon-center button-positive ion-android-sync" ng-click="sync()">
                                               
                                                </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form id="generarReporteProductos-form13" editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
            <div class="btn-edit">
                <button type="button" style="border-radius:50px 50px 50px 50px;" class="btn btn-default button button-positive icon-center ion-edit" ng-show="!tableform.$visible" ng-click="tableform.$show()">
              Editar
            </button>
                <div class="btn-group">
                    <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar</button>
                    <ul class="dropdown-menu " role="menu">
                        <li><button class="btn btn-link" ng-click="exportToExcel('#productTable')"><span class="glyphicon glyphicon-share"></span> XLS</button></li>

                        <li><button print-btn class="btn btn-link"><span class="glyphicon glyphicon-share"></span> Print</button></li>
                        <!--li><button class="btn btn-link" ng-click="export()"><span class="glyphicon glyphicon-share"></span> PDF</button></li>
                        <li><button class="btn btn-link" onClick="$('#productTable').tableExport({type:'xml',escape:'false'});"><span class="glyphicon glyphicon-share"></span> XML</button></li-->

                    </ul>
                </div>
            </div>
            <div id="productTable" print-section>
                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold">
                        <td style="width:30%"> Producto</td>
                        <td style="width:15%">Densidad</td>
                        <td style="width:15%">Peso</td>

                        <td style="width:15%">Largo</td>

                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Componentes / Emulsión a granel</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipoid='cg' ">
                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>
                        <td> <span editable-number="prod.densidad">{{prod.densidad}}</span></td>
                        <td> <span editable-number="prod.peso">{{prod.peso}}</span></td>

                        <td> <span editable-number="prod.largo">{{prod.largo}}</span></td>

                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Emulsión Empacada</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipoid='ce' ">
                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>
                        <td> <span editable-number="prod.densidad">{{prod.densidad}}</span></td>
                        <td> <span editable-number="prod.peso">{{prod.peso}}</span></td>

                        <td> <span editable-number="prod.largo">{{prod.largo}}</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Booster (Iniciador)</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipoid='ini' ">
                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>
                        <td> <span editable-number="prod.densidad">{{prod.densidad}}</span></td>
                        <td> <span editable-number="prod.peso">{{prod.peso}}</span></td>

                        <td> <span editable-number="prod.largo">{{prod.largo}}</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Detonadores Duales</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipo='Detonadores Duales' ">
                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>
                        <td> <span editable-number="prod.densidad">{{prod.densidad}}</span></td>
                        <td> <span editable-number="prod.peso">{{prod.peso}}</span></td>

                        <td> <span editable-number="prod.largo">{{prod.largo}}</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Conectores de Superficie</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipo='Conectores de Superficie'">
                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>
                        <td> <span editable-number="prod.densidad">{{prod.densidad}}</span></td>
                        <td> <span editable-number="prod.peso">{{prod.peso}}</span></td>

                        <td> <span editable-number="prod.largo">{{prod.largo}}</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Líneas de inicio</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipo='Líneas de inicio' ">
                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>

                        <td> <span editable-number="prod.densidad">{{prod.densidad}}</span></td>
                        <td> <span editable-number="prod.peso">{{prod.peso}}</span></td>

                        <td> <span editable-number="prod.largo">{{prod.largo}}</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Cordón detonante</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipo='Cordón detonante' ">
                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>

                        <td> <span editable-number="prod.densidad">{{prod.densidad}}</span></td>
                        <td> <span editable-number="prod.peso">{{prod.peso}}</span></td>

                        <td> <span editable-number="prod.largo">{{prod.largo}}</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Detonadores eléctricos y electrónicos</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipo='Detonadores eléctricos y electrónicos' ">
                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>
                        <td> <span editable-number="prod.densidad">{{prod.densidad}}</span></td>

                        <td> <span editable-number="prod.peso">{{prod.peso}}</span></td>

                        <td> <span editable-number="prod.largo">{{prod.largo}}</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Otros</strong>
                        </td>
                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipo='Otros' ">
                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>
                        <td> <span editable-number="prod.densidad">{{prod.densidad}}</span></td>
                        <td> <span editable-number="prod.peso">{{prod.peso}}</span></td>

                        <td> <span editable-number="prod.largo">{{prod.largo}}</span></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:100%">
                            <strong>Nuevo</strong>
                        </td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td style="width:15%">ID</td>
                        <td style="width:30%">Tipo de Producto</td>
                        <td style="width:15%">TipoID</td>
                        <td style="width:15%">Producto</td>



                    </tr>
                    <tr ng-repeat="prod in prod_list | filter:prod.tipo=null">
                        <td> <span>{{prod.id}}</span></td>
                        <td> <span editable-select="prod.tipo" e-name="tipo" e-form="rowform" e-ng-options="s.value as s.tipo for s in tiposProd">{{$showTipo(prod)}}</td>
                        <td> <span editable-text="prod.tipoid">{{$showTipoID(prod)}}</span></td>

                        <td> <span editable-text="prod.prod">{{prod.prod}}</span></td>
                    </tr>
                </table>
                <button class="btn btn-default" ng-click="addProd()">Nuevo</button>
            </div>
            <!-- buttons -->

            <div class="btn-form" ng-show="tableform.$visible">
                <button type="submit" style="border-radius:50px 50px 50px 50px;" ng-disabled="tableform.$waiting" class="btn btn-primary button button-positive button-block icon-left ion-android-checkmark-circle">Aceptar</button>
                <button type="button" style="border-radius:50px 50px 50px 50px;" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-defaultbutton button-positive button-block icon-left ion-android-cancel">Cancelar</button>
            </div>

        </form>


        <button id="subirProyecto-button35" ng-click="updateProductos()" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-right ion-android-checkmark-circle">Confirmar</button>

    </ion-content>
</ion-view>