<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="menu-list1">
                <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="menu.vistaDeProyecto()" menu-close="">Menu de Proyecto
                    <i class="icon ion-android-home"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item13" ui-sref="menu.parametrosVoladura1()" menu-close="">Crear Tipo de Barreno
                    <i class="icon ion-android-options"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item13" ui-sref="menu.editarVoladuraMapa()" menu-close="">Captar Barrenos
                    <i class="icon ion-android-options"></i>
                </ion-item>
                <ion-item ng-hide="$stateParams.usr.t!='a'" class="item-icon-right" id="menu-list-item13" ui-sref="menu.admincons()" menu-close="">Administrativa
                    <i class="icon ion-android-options"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item13" ui-sref="menu.login()" menu-close="">Salir
                    <i class="icon ion-log-out"></i>
                </ion-item>





            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>