<ion-view title="Subir Reporte de Sismógrafo" id="page31" hide-back-button="true">


    <ion-nav-buttons side="left">
        <button class="button button-clear" menu-toggle="left" ng-show="$root.showMenuIcon" ng-click="gotovistaDeProj()"><i class="icon ion-navicon"></i></button>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button icon-center button-positive ion-android-sync" ng-click="sync()">
                                                   
                                                    </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">

        <button id="subirProyecto-button36" ng-click="openpdfFunc(sismoPDF)" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-right ion-download">bajar</button>
        <button id="subirProyecto-button36" ng-click="openpdfBrowser(sismoPDF)" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-right ion-download">bajar browser</button>
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <td>Subir PDF</td>

                <td>

                    <input type='file' ng-model='sismoPDF' base-sixty-four-input ng-change="showSismo=true">

                </td>
                <td ng-show="showSismo"><button ng-click="savePDF(sismoPDF); showSismo=false" class="button button-positive button-full button-clear icon ion-android-checkmark-circle"></button></td>
            </tr>

            <tr>
                <td>Archivos a Subir ({{sismoPDFs.length}})</td>
                <td>
                    <ul>
                        <li ng-repeat="f in sismoPDFs" style="font:smaller">{{f.filename}}</li>
                    </ul>
                </td>
            </tr>



            </div>
        </table>

        <button id="subirProyecto-button36" ng-click="createSis()" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-right ion-upload">Subir</button>
        <button id="subirProyecto-button35" ng-click="" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-right ion-android-checkmark-circle">Volver a Menu</button>

        <canvas id="the-canvas"></canvas>
        <ng-pdf template-url="/partials/viewer.html"></ng-pdf>
        </div>

</ion-view>