<ion-view title="Vista Previa Muestras" id="page23">
    <style>
        table,
        th,
        td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>

    <ion-content padding="true" class="has-header">


        <form id="generarReporteProductos-form13" editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">

            <div class="btn-edit">
                <button type="button" style="border-radius:50px 50px 50px 50px;" class="btn btn-default button button-positive icon-center ion-edit" ng-show="!tableform.$visible" ng-click="tableform.$show()">
              Editar
            </button>
                <div class="btn-group">
                    <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar</button>
                    <ul class="dropdown-menu " role="menu">
                        <li><button class="btn btn-link" ng-click="exportData()"><span class="glyphicon glyphicon-share"></span> XLS</button></li>
                        <!--li><button class="btn btn-link" onClick="$('#Muestras').tableExport({type:'excel',escape:'false'});"><span class="glyphicon glyphicon-share"></span> XLS</button></li-->
                        <!--li><button class="btn btn-link" ng-click="export()"><span class="glyphicon glyphicon-share"></span> PDF</button></li-->
                        <li><button print-btn class="btn btn-link"><span class="glyphicon glyphicon-share"></span> Print</button></li>
                    </ul>
                </div>
            </div>

            <div print-section id="Muestras">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr class="table-header" style="font-weight: bold">
                            <th>Barreno</th>
                            <th>Graph</th>
                            <th>Datos</th>
                            <th>Comentario</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="doc in Muesrow">

                            <td>{{doc.barr}}</td>
                            <td>
                                <table>
                                    <tr>
                                        <th>Camion </th>
                                        <td>{{doc.camion.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Hora </th>
                                        <td>{{doc.hora | date: 'shortTime' }}</td>
                                    </tr>
                                    <tr>
                                        <th>r1 </th>
                                        <td>{{doc.r1}}</td>
                                    </tr>
                                    <tr>
                                        <th>r2 </th>
                                        <td>{{doc.r2}}</td>
                                    </tr>
                                    <tr>
                                        <th>Kg/min </th>
                                        <td>{{doc.rpm}}</td>
                                    </tr>
                                    <tr>
                                        <th>Temp </th>
                                        <td>{{doc.temp}}</td>
                                    </tr>
                                </table>
                            </td>


                            <td><canvas id="bar" class="chart chart-line" chart-data="doc.dens" chart-labels="doc.val" chart-series="" chart-colors="red">
                          </canvas></td>

                            <td>{{doc.coment}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div ng-show="false" id="muestras">


                <table border="1">
                    <thead>
                        <tr class="table-header" style="font-weight: bold">
                            <th>Barreno</th>
                            <th>Camion</th>
                            <th>Hora</th>
                            <th>R1</th>
                            <th>R2</th>
                            <th>KG/Min</th>
                            <th>Temp</th>
                            <th>Dens0</th>
                            <th>Dens5</th>
                            <th>Dens10</th>
                            <th>Dens15</th>
                            <th>Dens20</th>
                            <th>Dens25</th>
                            <th>Dens30</th>
                            <th>Dens35</th>
                            <th>Dens40</th>
                            <th>Dens45</th>
                            <th>Dens50</th>
                            <th>Dens55</th>
                            <th>Dens60</th>
                            <th>Comentario</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="doc in muestrasToPrint">
                            <td>{{doc.barr}}</td>

                            <td>{{doc.camion.name}}</td>

                            <td>{{doc.hora | date: 'shortTime' }}</td>

                            <td>{{doc.r1}}</td>

                            <td>{{doc.r2}}</td>

                            <td>{{doc.rpm}}</td>

                            <td>{{doc.temp}}</td>
                            <td>{{doc.densidades.dens0}}</td>
                            <td>{{doc.densidades.dens5}}</td>
                            <td>{{doc.densidades.dens10}}</td>
                            <td>{{doc.densidades.dens15}}</td>
                            <td>{{doc.densidades.dens20}}</td>
                            <td>{{doc.densidades.dens25}}</td>
                            <td>{{doc.densidades.dens30}}</td>
                            <td>{{doc.densidades.dens35}}</td>
                            <td>{{doc.densidades.dens40}}</td>
                            <td>{{doc.densidades.dens45}}</td>
                            <td>{{doc.densidades.dens50}}</td>
                            <td>{{doc.densidades.dens55}}</td>
                            <td>{{doc.densidades.dens60}}</td>
                            <td>{{doc.coment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </ion-content>
</ion-view>